
/* Placement des grandes sections headers, etc..*/
html, body {
    height: 100%;
   margin: 0;
   padding: 0;
}


body {
display:table;
width:100%;
}
header,section,footer {display:table-row;}

header {
width: 100%;
height: 100px;
top: 0px;
margin: 0 ;
margin-bottom: 10px;
padding: 0 ;
background-color: #C2F4F4;
}

section{height:100%;}

section div{height:100%;
margin-left: 20px;
}

footer {
  /*position: absolute;*/
  bottom: 0;
  width: 100%;
  height: 20px;
  background-color: #f5f5f5;
  text-align: center;
color:  #48515c;
}

/* Le menu */
#menu {
list-style: none ;
margin: 10px;
margin-left: 20px;
padding: 0 ;
}

#menu li {
display: inline ;
margin-right: 1px ;
color: #fff ;
}
#menu li a {
color: #fff ;
border: 1px solid #000000 ;
font: 1em "Trebuchet MS",Arial,sans-serif ;
line-height: 1em ;
padding: 4px 20px ;
text-align: center ;
text-decoration: none ;
width:200px;
}
#menu li a:hover, #menu li a:focus, #menu li a:active {
background: #900000 ;
text-decoration: underline ;
}



.fondR {
color: #fff000;
background-color: #900000 ;
}

.fondM {
color: #000;
background-color: #48515c ;

}


h1 {
  color: #900000;
  text-align: center;
}

h2 {
  color:  #48515C;
}

em.Rouge {color: #900000 ;}

#gauche {
   float:left;
   width:100px;
margin-left: 20px;
}

#droite {
   overflow:auto;
}


/*  Le tableau où on écrit la recette */




table.tablerecette,  table.tablerecette td  {
  border-spacing: 2px;
  border: 2px solid  #900000;
  border-collapse: collapse;
    border-collapse: separate;
    vertical-align: top;
}

/*
table#tablerecette td{
  border-spacing: 2px;
  border: 2px solid #48515C;
  border-collapse: collapse;
    border-collapse: separate;
}
*/

#celnom {
color: #FFFFFF;
background-color: #900000  ;
text-align: center;
}

#affichenomrecette {
    width: 90% ;
}
