<header>
<img src="{{ url_for('static', filename = 'lacuisineP.svg') }}" alt="bandeau gauche" title="bandeau gauche"  align=left height="80px"  border="0"  style="margin:10px ">
<!-- <img src="{{ url_for( 'static', filename ='maths1.png') }}" alt="bandeau milieu"  title="bandeau milieu"     align=bottom  border="0">-->
<img src="{{ url_for('static', filename = 'fractaleG.png') }}" alt="bandeau droite"  title="bandeau droite"  align=right  height="100px"  border="0">
<center><h1>{{ titre }}</h1></center>
<!-- <img src="{{ url_for('static',filename ='bg_bandeau_haut.png') }}" alt="bandeau" title="bandeau" border="0">-->
</header>
